*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #f7f6f6;
}


.navbar{
    height: 70px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 5px 20px 2px 20px;
    border-bottom: 1px solid rgb(196, 192, 192);
    font-weight: bold;
    font-size: 20px;
}
.navbar img{
    width: 100px;
}
.main-container{
    display: flex;
    justify-content: center;
    align-items: center;

}
.sidebar{
    width:23%;
    min-height: 90vh !important;
    background-color: #d93c64;
}
.main-area{
    width:77%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    /* background-color: red; */
    position: relative;
}
.products{
    display: flex;
    justify-content: left;
    align-items: center;
    height: 60px;
    width: 100%;   
    transition: ease-in-out 0.2s;
}
.products a{
    margin-right: 40px;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}
.products i{
    padding: 20px;
    margin-left: 40px;
    color: #fff;
    min-height: 24px;
    min-width: 24px;
}
.products:hover{
    background-color: rgb(52, 52, 168);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 90%;
    margin: auto;
}
.data_base{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    margin: 0px 20px;
    text-align: center;
    border-bottom: 1px solid rgb(212, 209, 209);
    height: 140px;
}
.data{
    margin: auto;
    width: 300px;
    height: 100px;
    background-color: #d93c64;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    border: none;
    outline: none;
    border-radius: 10px;
    transition:width ease-in-out 0.5s;
   
}
.data:hover{
    width: 200px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.data i{
    margin-top: 15px;
}
.total_product{
    background: rgb(218,218,218);
background: radial-gradient(circle, rgba(218,218,218,1) 32%, rgba(92,238,229,1) 81%);
}
.total_categories{
    background: rgb(218,218,218);
    background: radial-gradient(circle, rgba(218,218,218,1) 32%, rgba(178,238,92,1) 81%);

}
.total_orders{
    background: rgb(218,218,218);
background: radial-gradient(circle, rgba(218,218,218,1) 32%, rgba(206,147,216,1) 73%);
}

.form_head {
    display: flex;
    align-items: center;
    height: 60px;
    background: rgb(255,247,158);
background: radial-gradient(circle, rgba(255,247,158,1) 32%, rgba(236,139,139,1) 73%);
}

.form_head button{
    padding: 10px 20px;
    background-color: #db1e4d;
    color: white;
    border: none;
    outline: none;
    border-radius: 10px;
    margin: 10px;
    cursor: pointer;
}
.form_head h3 {
    font-size: 25px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 20px;
    margin-right: 50%;
}
.form_rows{
    max-height:400px;
    overflow:auto;
}
  .form_rows::-webkit-scrollbar
  {
      width: 7px;
      background-color: #F5F5F5;
  }
  
  .form_rows::-webkit-scrollbar-thumb
  {
      border-radius: 10px;
      background-color: #FFF;
      background-image: -webkit-linear-gradient(top,
                                                #08f757 0%,
                                                #bfe8f9 50%,
                                                #9fefca 51%,
                                                #57ed2a 100%);
  }
.product_table {
    margin: 25px 0px;
    font-size: 1em;
    width: 100%;
    border-radius: 5px;
    /* height: 100%; */
    border-collapse: collapse;
    /* overflow-y:auto; */
}

.product_table thead tr {
    background-color: #009879;
    color: white;
    text-align: left;
    font-weight: bold;
}
.product_table th, .product_table td {
    padding: 12px 15px;
} 

.product_table tbody tr {
    border: 1px solid #dddddd;
}
.product_table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.selected:hover {
    background-color: rgb(52, 52, 168);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color: #fff;
    cursor: pointer;
}

#addproductform {
    display: none;
    position: absolute;
    height: 450px;
    width: 350px;
    background-color: white;
    z-index: 2;
    margin: auto;
    margin-left: 22%;
    margin-top: 14%;
    border: 1px solid black;
    /* transform: translateX(-50%); */
}
#add_product_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#add_product_form > h3 {
    text-align: center;
    font-size: 24px;
    margin: 20px;
    /* background-color: #009879; */
}

input {
    display: block;
    margin: auto;
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    outline: none;
    border-bottom: 1px solid gray;
}
#product_image {
    margin-left: 20%;
    margin-top: 15px;
    border: none;
}

#add_product_btn {
    display: block;
    margin: auto;
    margin-top: 20px;
}

#add_product_form span {
    margin-left: 100px;
    font-size: 24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: red;
    cursor: pointer;
}
#update_product_form{
    display: none;
    position: absolute;
    height: 450px;
    width: 350px;
    background-color: white;
    z-index: 2;
    margin: auto;
    margin-left: 22%;
    margin-top: 14%;
    border: 1px solid black;
}
#delete_product_form{
    display: none;
    position: absolute;
    height: 200px;
    width: 350px;
    background-color: white;
    z-index: 2;
    margin: auto;
    margin-left: 22%;
    margin-top: 14%;
    border: 1px solid black;
}

/* .form_products {
    display: none;
} */

.form_category {
    display: none;
}


#addcategoryform {
    display: none;
    position: absolute;
    height: 450px;
    width: 350px;
    background-color: white;
    z-index: 3;
    margin: auto;
    margin-left: 22%;
    margin-top: 14%;
    border: 1px solid black;
    /* transform: translateX(-50%); */
}
#add_category_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#add_category_form > h3 {
    text-align: center;
    font-size: 24px;
    margin: 20px;
    /* background-color: #009879; */
}

#update_category_form{
    display: none;
    position: absolute;
    height: 350px;
    width: 380px;
    background-color: white;
    z-index: 2;
    margin: auto;
    margin-left: 22%;
    margin-top: 14%;
    border: 1px solid black;
}

#delete_category_form{
    display: none;
    position: absolute;
    height: 200px;
    width: 350px;
    background-color: white;
    z-index: 2;
    margin: auto;
    margin-left: 22%;
    margin-top: 14%;
    border: 1px solid black;
}

.form_category span {
    margin-left: 100px;
    font-size: 24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: red;
    cursor: pointer;
}